
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        header{
            padding: 10px 0;
        }
        header h1{
            font-family: bold;
            font-weight: bolder;
        }
        header span{
            color: red;
        }
        header form{
            margin-top: 8px;
        }

        nav ul li{
           margin: 0 20px;
        }

        .carousel-image{
            height: 450px;
            width: auto;
        }
        .aboutText{
            font-size: 20px;
            text-align: justify;
            line-height: 30px;
        }
        #link{
            color:#77b300;
            text-align: center;
        }
        .programs img{
            height: 250px;
        }

        .class-heading{
            text-align: center;
            font-weight: bold;
        }
        .class-heading span{
            color: red;
        }
       

        #our-classes {
            margin-bottom: 140px;
          }
          
          #tabs ul {
            margin: 0;
            padding: 0;
          }
          #tabs ul li {
            margin-bottom: 30px;
            display: inline-block;
            width: 100%;
          }
          #tabs ul li:last-child {
            margin-bottom: 0px;
          }
          #tabs ul li a {
            text-transform: capitalize;
            width: 100%;
            padding: 30px 30px;
            display: inline-block;
            background-color: #fff;
            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
            border-radius: 5px;
            font-size: 19px;
            color: #232d39;
            letter-spacing: 0.5px;
            font-weight: 600;
            transition: all 0.3s;
          }
          #tabs .main-rounded-button a {
            text-align: center;
            padding: 20px 30px;
            width: 100%;
            border-radius: 5px;
            display: inline-block;
            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
            color: #fff;
            font-size: 19px;
            letter-spacing: 0.5px;
            font-weight: 600;
            background-color: #77b300;
          }
          #tabs .main-rounded-button a:hover {
            background-color: #f9735b;
          }
          #tabs ul li a img {
            max-width: 100%;
            margin-right: 20px;
          }
          #tabs ul .ui-tabs-active span {
            background: #faf5b2;
            border: #faf5b2;
            line-height: 90px;
            border-bottom: none;
          }
          #tabs ul .ui-tabs-active a {
            color: #ed563b;
          }
          #tabs ul .ui-tabs-active span {
            color: #1e1e1e;
          }
          .tabs-content {
            margin-left: 30px;
            text-align: left;
            display: inline-block;
            transition: all 0.3s;
          }
          .tabs-content img {
            max-width: 100%;
            overflow: hidden;
            border-radius: 5px;
          }
          .tabs-content h4 {
            font-size: 23px;
            font-weight: 700;
            color: #232d39;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
            margin-top: 30px;
          }
          .tabs-content p {
            font-size: 14px;
            color: #7a7a7a;
            margin-bottom: 28px;
          }


          #schedule {
            padding: 50px 0px 120px 0px;
            background-image: url(images/schedule-bg.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          #schedule table {
            width: 90%;
            text-align: center;
            border: 1px solid #fff;
          }
          
          #schedule table tbody {
            border-top: 1px solid #fff; 
          }
          
          #schedule table tbody tr {
            border-bottom: 1px solid #fff;
          }
          
          #schedule table tbody tr td {
            border-right: 1px solid #fff;
            height: 90px;
          }
          
          #schedule table tr td {
            color: #fff;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: 0.25px;
          }
          
          .schedule-table.filtering .ts-item {
              opacity: 0;
              transition: all 0.5s;
          }
          
          .schedule-table.filtering .ts-item.show {
              opacity: 1;
              transition: all 0.5s;
          }
          
          #schedule .filters {
            margin-bottom: 40px;
          }
          #schedule .filters ul {
            padding: 0;
            text-align: center;
          }
          #schedule .filters ul li {
            list-style: none;
            display: inline;
            cursor: pointer;
            position: relative;
            margin-right: 10px;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            text-transform: capitalize;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
          #schedule .filters ul li:after {
            content: "/";
            margin-left: 10px;
            color: #fff;
          }
          #schedule .filters ul li:last-child {
            margin-right: 0px;
          }
          #schedule .filters ul li:last-child::after {
            display: none;
          }
          #schedule .filters ul li.active,
          #schedule .filters ul li:hover {
            color: #ed563b;
          }
          #schedule .filters-content {
            margin-top: 50px;
          }
          #schedule .filters-content .show {
            opacity: 1;
            visibility: visible;
            transition: all 350ms;
          }
          #schedule .filters-content .hide {
            opacity: 0;
            visibility: hidden;
            transition: all 350ms;
          }

          .instructors span{
            color: red;
          }
          
          
          
          
        @media(max-width:768px){
            header .row{
                display: flex;
                flex-wrap:wrap;
                flex-direction: column;
            }

           
        }

